body {
	background-image: url("#{resource['images:pozadie.png']}");
	background-repeat: repeat-y;
	padding: 0px;
	margin: 0px;
	padding: 0px;
}

#header {
	padding-left: 350px;
	width: 100%;
	height: 40px;
	margin-top: 150px;
	background-color: #ff0000;
	font-family: titleFont;
}

#header .ui-button {
	background: #ff0000;
	font-family: normalFont;
	height: 100%;
	border-style: none;
}

#header .ui-button-text {
	font-size: xx-large;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 20px;
}

#context {
	text-align: center;
	background-color: rgba(51, 51, 51, 0.4);
	width: 98%;
	min-height: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
}

#context h1 {
	width: 100%;
	background-color: #cccccc;
	font-family: normalFont;
	font-stretch: normal;
	font-size: 50px;
	color: #333333;
	padding-top: 2px;
	padding-bottom: 2px;
}

#uploadForm{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 50%;
	background-color: rgba(51,51,51,0.8);
	text-align: center;	
}

#uploadForm table{
	width: 100%;
	margin: auto;
	background: rgba(51,51,51,0);
}

#uploadForm tr{
	background: rgba(51,51,51,0);
	border-style: none;
}

#uploadForm tr td {
	background-color: rgba(51,51,51,0);
	border-style: none;
}

#uploadForm .inputButton{
	background: #cccccc;
	width: 75%;
	color: #666666;
	margin: auto;
	margin-bottom: 5px;
}

#uploadForm .ui-fileupload{
	width:76%;
}

#uploadForm .ui-fileupload-buttonbar{
	border-style: none;
	margin: auto;
	background: #ff0000;
}

#uploadForm .ui-fileupload-buttonbar .ui-button{
	border-style: none;
}

#uploadForm .ui-fileupload-content{
	padding: 0px;
	border-style: none;
}

.uploadButton{
	background: #ff0000;
	border-style: solid;
	border-color: #990000;
	border-width: 5px;
	height: 50px;
	margin-top: 10px;
	width: 60%;
	
}

.menuButton .ui-widget{
	border-style: none;
	background: #ff0000;
	font-family: normalFont;
}

@font-face {
	font-family: titleFont;
	src: url("#{resource['fonts:chin.TTF']}");
}

@font-face {
	font-family: normalFont;
	src: url("#{resource['fonts:hel.otf']}");
}

@font-face {
	font-family: guatami;
	src: url("#{resource['fonts:gautamib.ttf']}")
}